<section class="account-flow completion">

  <div class="_wrapper">

    <section class="box">

      <header>
        <h2>{{::lang.signUp.thankyou.title}}</h2>
      </header>

      <div class="completion-illustration">
        <i></i>
      </div>

      <p class="text-block">
        <strong>{{::lang.signUp.thankyou.paragraphTitle}}</strong>
        {{::lang.signUp.thankyou.paragraphText}}
      </p>

      <footer>
        <a href="#/summary" class="button medium-button">{{::lang.signUp.continue}}</a>
      </footer>

    </section><!-- box -->

  </div><!-- _wrapper -->

</section>
