<!DOCTYPE html>
<html ng-app="Bitgold" ng-touch >
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= pkg.productName %> <%= pkg.version %></title>
    <link rel="icon" type="image/png" href="img/favicon.png">
    <%= assets %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  </head>
  <body>

    <%= header %>

    <main ng-view>
    </main>

    <%= footer %>

    <div id="modal-overlay"></div>

    <%= analytics %>

  </body>
</html>
