
<div class="location-container">

  <div
    class="flyout-widget location-input"
    ng-init="lang = $root.lang; location = {value:null,flag:null}; list = {visible:null,filter:null,index:-1,stick:null};"
  >

    <input
      type="text"
      placeholder="{{::lang.locationInput.placeholder}}"
      ng-model="location.value"
      ng-class="[location.flag ? 'flag before-icon ' + location.flag : '']"
      ng-focus="list.visible = true; list.filter = null; list.index = -1;"
      ng-blur="list.visible = list.stick;"
      ng-keyup="list.filter = location.value; list.visible = true;"
      ng-change="location.flag = null;"
      hit-enter="location.value = list.data[list.index].country; list.visible = false;"
      hit-up="list.index = list.index - 1; list.index = list.index < 0 ? 0 : list.index;"
      hit-down="list.index = list.index + 1; list.index = list.index >= list.data.length ? list.data.length - 1 : list.index;"
      focus-select
      class="input-dropdown"
    />

    <span
      class="input-dropdown-chevron"
      ng-click="list.visible = true"
    ></span>

    <div
      class="flyout-container location-widget"
      ng-show="list.visible"
      ng-class="{ active: list.visible }"
      ng-mouseenter="list.stick = true"
      ng-mouseleave="list.stick = false"
    >
      <div class="inner">
        <ul class="item-list">
          <li
            ng-repeat="item in list.data = (lang.locationInput.locationList | filter:list.filter)"
            ng-click="location.value = item.location; list.visible = false;"
            ng-class="{ selected: $index === list.index }"
            scroll-parent-if="$index === list.index"
          >
            <i class="flag" ng-class="item.flag"></i>
            <span class="name">{{item.location}}</span>
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>
