<table>
  <tbody>
    <tr>
      <th rowspan="2" valign="middle">
        {{::lang.summary.settings.wallet}}
      </th>
      <td>
        {{::lang.summary.settings.verifyEmail}}
      </td>
      <td>
        <a href="#/basic-info">{{profile.email}}</a>
      </td>
      <td>
        {{::lang.summary.settings.complete}}
      </td>
    </tr>
    <tr>
      <td>
        {{::lang.summary.settings.verifyMobile}}
      </td>
      <td>
        <a href="#/basic-info">{{profile.phone}}</a>
      </td>
      <td>
        {{::lang.summary.settings.complete}}
      </td>
    </tr>
    <tr>
      <th rowspan="2" valign="middle">
        {{::lang.summary.settings.vault}}
      </th>
      <td>
        {{::lang.summary.settings.personalInfo}}
      </td>
      <td>
        <a href="#/settings/personal">{{::lang.summary.settings.edit}}</a>
      </td>
      <td>
        {{::lang.summary.settings.incomplete}}
      </td>
    </tr>
    <tr>
      <td>
        {{::lang.summary.settings.verifyID}}
      </td>
      <td>
        <a href="#/settings/personal">{{::lang.summary.settings.edit}}</a>
      </td>
      <td>
        {{::lang.summary.settings.incomplete}}
      </td>
    </tr>
    <tr>
      <th rowspan="2" valign="middle">
        {{::lang.summary.settings.investments}}
      </th>
      <td>
        {{::lang.summary.settings.investmentForms}}
      </td>
      <td>
        <a href="#/settings/investments">{{::lang.summary.settings.edit}}</a>
      </td>
      <td>
        {{::lang.summary.settings.incomplete}}
      </td>
    </tr>
    <tr>
      <td>
        {{::lang.summary.settings.verifyID}}
      </td>
      <td>
        <a href="#/settings/personal">{{::lang.summary.settings.edit}}</a>
      </td>
      <td>
        {{::lang.summary.settings.incomplete}}
      </td>
    </tr>
  </tbody>
</table>
